.d-none .d-lg-block{
    display: block;
}


.offcanvas-body {
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
}

body {
    padding-top: 65px;
  }
