.offcanvas-body {
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
}

body {
    padding-top: 65px;
  }

  #nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
    padding-bottom: 10px;
    width: 100%;
    opacity: 0.5;
    }
  .nav-link {
    font-size: 23px;
    padding-top: 10px;
    text-decoration: none;
    display: flex;
    justify-content: end;
    display: inline;
    right: 0;
    color: white;
    opacity: 1;
    }