body {
    background-color: #F2ECE4;
  }
h1 {
    color: #25453A;
    font-family: "Comfortaa";
    font-weight: regular;
    font-size:  32 px;
    text-transform: uppercase;
  }

.navfont {
    color: #25453A;
    font-family: "Comfortaa";
    font-weight: regular;
    font-size:  32 px;
    text-transform: uppercase;
}

.formfont {
  font-family: "Noto+Sans";
  font-weight: regular;
  Font-size: 16px;
}

.bgimpact {
    background-color: #F23207;
}

.bghighlight {
    background-color: #F25E3D;
}

