body {
    background-color: #F2ECE4;
  }

  .bgimpact {
    background-color: #F25C05
}

.bghighlight {
    background-color: #D2D904;
}

h1 {
    color: #25453A;
    font-family: "Comfortaa";
    font-weight: regular;
    font-size:  32 px;
    text-transform: uppercase;
  }

p {
    font-family: "Noto Sans";
    font-weight: regular;
    Font-size: 16px;
  }

table {
  table-layout: auto;
  width: 100%;
  font-family: "Noto Sans";
  font-weight: regular;
  Font-size: 16px;
}

th {
  padding: 15px;
  text-align: left;
  text-transform: capitalize;
  border-bottom: 3px solid #F26241;
}
td {
  padding: 15px;
  text-align: left;
  border-bottom: 3px solid #1FA634;
}


footer {
  color: #25453A;
  font-family: "Comfortaa";
  font-weight: regular;
  font-size:  32 px;
  text-transform: uppercase;
}

.navfont {
    color: #25453A;
    font-family: "Comfortaa";
    font-weight: regular;
    font-size:  32 px;
    text-transform: uppercase;
}

.formfont {
  font-family: "Noto Sans";
  font-weight: regular;
  Font-size: 16px;
}

.tablefont {
  font-family: "Noto Sans";
  font-weight: regular;
  Font-size: 16px;
}

.listfont {
  font-family: "Noto Sans";
  font-weight: regular;
  Font-size: 16px;
}

.button {
  background-color: #D2D904;
  border: none;
  color: #1FA634;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-family: "Noto Sans";
  font-weight: regular;
  Font-size: 16px;
}