body {
    background-color: #F2ECE4;
  }
  h1 {
    color: blue;
    font-family: Comfortaa;
    font-size:  32 px;
    text-transform: uppercase;
  }

.bgimpact {
    background-color: #F23207;
}

.bghighlight {
    background-color: #F25E3D;
}
